<!-- Loop over each object in the projects array -->

{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>{{post.title}}</h2>
    <p>{{post.description}}</p>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    <ul>      
{{#each post.comments}}
      <li>{{comment}}</li> 
{{/each}}
    </ul> 
  </div>
  <div class="col-md-7">
  </div>
</div>


 <form class="form new-comment-form" id="{{post.id}}" >
      <div class="form-group">
        <label for="project-comment">comment:</label>
        <textarea class="form-input" id="project-comment" name="project-comment"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary add-button" >Add</button>
      </div>
</form>
<div class="form-group">
  <button type="submit" class="btn btn-primary">Create</button>
</div>
{{/each}}


<script src="./js/comment.js"></script>
